@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    /* Prevent text selection on mobile app feel */
    -webkit-user-select: none;
    user-select: none;
    /* Prevent callout menu */
    -webkit-touch-callout: none;
  }

  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }


  .dark {
    --background: 2 6 23;
    --foreground: 248 250 252;
  }

  .titlebar {
    -webkit-app-region: drag;
    user-select: none;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}